body{
    margin: 0;
    background: linear-gradient(to bottom, aquamarine, rgb(121, 121, 182));
    background-position: center center;
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #menu{
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  }
  
  #menu div:first-child{
    background-color: rgba(0, 0, 0, .3);
    color: white;
    display: flex;
    flex: auto;
    font-size: 4em;
    font-family: Lalezar; /*CAMBIAR */
    align-items: center;
  }
  
  #menu i{
    margin-left: 0.2em;
    font-size: 0.9em;
    margin-bottom: 0.2em;
  }
  
  .seccion{
      width: 18%;
      text-align: center;
      line-height: 6.25em;
      font-size: 1.5em;
      font-family: Sarala; /*CAMBIAR */
      background-color: rgba(0, 0, 0, .3);
    }
  
  #menu a{
    color: white;
    text-decoration: none;
  }
  
  #menu a:hover{
    color: rgba(0, 0, 0, 1);
  }

  #titulo a:hover{
    color: white;
  }
  
  #contenedor{
      position: relative;
      width: 100%;
      margin-bottom: 45em;
  }

  #descripcion{
      position: absolute;
      background-color: white;
      z-index: 2;
      width: 40%;
      height: 30em;
      margin-left: 12em;
      margin-top: 5em;
      text-align: center;
  }

  #video{
      position: absolute;
      width: 100%;
      height: 26em;
      background-color: black;
      z-index: 1;
      margin-left: 90%;
      top: 25%;
  }

  #descripcion h1{
    font-family: 'Roboto';
    margin-top: 1em;
  }

  #descripcion p{
      text-align: left;
      margin-right: 4em;
      margin-left: 2.6em;
      font-size: 1.4em;
      font-family: 'Roboto';
  }

  footer{
    color: white;
    background-color: rgba(0, 0, 0, .3);
    padding: 0.3em 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: static;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    }
  
    .iconos {
      width: 25%;
      font-size: 3em;
      margin-top: 1em;
    }

    footer p{
      font-size: 0.5em;
      font-family: 'Roboto'
    }
  
    footer i:hover{
      color: rgba(69, 68, 68, 0.667);
    }